<div class="relative h-screen flex items-center justify-center text-white p-10">
  <div
    class="flex flex-col items-center justify-around mr-5 w-[450px] bg-slate-600 p-10 rounded-md"
  >
    <h1 class="text-2xl uppercase font-oswald mb-4">Add a new book</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="flex flex-col justify-center items-center text-lg font-mooli">
        <label for="title">Title:</label>
        <input
          class="field"
          type="text"
          name="title"
          [(ngModel)]="book.title"
        />

        <label for="author">Author:</label>
        <input
          class="field"
          type="text"
          name="author"
          [(ngModel)]="book.author"
        />

        <label for="genres">Genres:</label>
        <input
          class="field"
          type="text"
          name="genres"
          [(ngModel)]="book.genres"
        />

        <label for="description">Description:</label>
        <textarea
          class="field"
          name="description"
          rows="5"
          cols="33"
          [(ngModel)]="book.description"
        ></textarea>

        <label for="img">Image URL:</label>
        <input class="field" type="text" name="img" [(ngModel)]="book.imgURL" />

        <button type="submit" class="btn">Add Book</button>
      </div>
    </form>
  </div>

  <div
    *ngIf="newBook"
    class="flex flex-col items-center justify-around w-[450px] bg-slate-600 p-10 rounded-md"
  >
    <div class="w-[200px] h-[300px] object-cover">
      <img [src]="newBook.imgURL" alt="book cover" />
    </div>
    <div class="flex flex-col items-center justify-evenly h-72">
      <h1 class="text-2xl font-oswald">{{ newBook.title }}</h1>
      <h3 class="text-lg font-mooli">{{ newBook.author }}</h3>
      <p
        class="text-center font-mooli max-w-xs max-h-52 overflow-y-scroll scrollbar-none p-3 border-2 rounded-md"
      >
        {{ newBook.description }}
      </p>
      <p class="font-mooli mt-2">Genres: {{ newBook.genres }}</p>
    </div>
    <p class="text-3xl text-green-400 font-oswald">Book successfully added!</p>
  </div>

  <div
    *ngIf="failed"
    class="flex flex-col items-center justify-evenly w-[450px] bg-slate-600 p-10 rounded-md"
  >
    <p class="text-2xl text-red-500 text-center font-oswald">
      Something went wrong! (┬┬﹏┬┬)
    </p>
    <p class="text-2xl text-red-500 text-center font-oswald">
      {{ "Error Code: " + errorCode }}
    </p>
    <p class="text-2xl text-red-500 text-center font-oswald">
      {{ errorName }}
    </p>
  </div>
</div>
